[Unit]
Description=Buergerplatform based on Node.js
Requires=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/kuchen/buergerplatform/buergerplatform-ulm/
ExecStart=/usr/bin/node /home/kuchen/buergerplatform/buergerplatform-ulm/server.js
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sensorconfig-frontend
Environment=NODE_ENV=production PORT=3003

[Install]
WantedBy=multi-user.target
